<%- include('partials/header', {pageTitle:'Help Result'}) %>
<h1 class="text-center">Product Finder Results</h1>
<p class="text-center"><a href="/">Back to Search</a></p>
<div class="container text-center">
  <p class="d-flex justify-content-around">
    <span>Your DPCI: <%=dpci%></span>
    <span>Your Class ID: <%=classID%></span>
    <span>Your Class Name: <%=classN%></span>
  </p>
  <% let wtlotf; %>
  <% let wtlitb; %>
  <% let recentDelivery; %>
  <% let recentSold; %>

  <!-- =============================================================================== -->
  <!-- ======================================002====================================== -->
  <!-- =============================================================================== -->
  <% if(department == '002'){ %>
  <% wtlotf = "These should be in section L on the floor unless it's kid's storage, which will be in the early V aisles."; %>
  <% wtlitb = "Most of the items in the 002 department are backstocked in 02A058. For larger items like plastic storage bins and cube organizers, you need to check 99B109 and 110 (Receiving aisle). Kid's storage will be located in 02A039."; %>
  <% if(delivery<6){%>
  <% recentDelivery = "This item was recently delivered, so you will need to look for pallets or flats of items from the 002 department. These can be either upper level or lower level depending on what made it downstairs. On the truck line , you'll find them on the left side (if you're facing the bay doors) closer to the bay doors. Plastic bins will usually say 'Sterilite' or 'HMS' (for Hefty products) on the box itself. Plastic pallets often end up on the upper level steels, so look out for that as well." %>
  <%} %>
  <% } %>
  <% if(sold < 2){%>
  <% recentSold = "This has a recent sold date, which can indicate that it was returned recently, so you need to check the returns desk and lower level reshop carts in case it was returned." %>
  <!-- =============================================================================== -->
  <!-- ======================================003====================================== -->
  <!-- =============================================================================== -->
  <%} else if(department == '003'){ %>
  <% wtlotf = "These should be in section D on the floor. They're located from D6-D13. On rare occasions, they can end up on check lane end caps."; %>
  <% wtlitb = "Most of the items in the 003 department are backstocked in 01A006"; %>
  <% if(delivery<6){%>
  <% recentDelivery = "This item was recently delivered, so you will need to look for pallets of chem products, which come in casepacks with brand names like 'Clorox' and 'Lysol'. These pallets will be in the upper level back room. On the truck line, you'll find them on the right side (if you're facing the bay doors) at the very end of the truck line closest to the bay doors." %>
  <%} %>
  <% } %>
  <% if(sold < 2){%>
  <% recentSold = "This has a recent sold date, which can indicate that it was returned recently, so you need to check the returns desk and upper level reshop carts in case it was returned." %>
  <!-- =============================================================================== -->
  <!-- ======================================007====================================== -->
  <!-- =============================================================================== -->
  <%} else if(department == '007'){ %>
  <% wtlotf = "These should be in section S on the floor."; %>
  <% wtlitb = "This department has a few aisles in the backroom to check depending on your item. Diapers will be located in 02A051. Wipes will be located in 02A051. Toiletries and medicines will be located in 02A052. Baby food will be located in 02A073. Baby formula will be located in 02A074."; %>
  <% if(delivery<6){%>
  <% recentDelivery = "This item was recently delivered, so you will need to look for u-boats or pallets. If you're looking for diapers or wipes, these will be very obvious pallets. If you're looking for any other products, you will either find them in baby repacks or baby u-boats. Baby food and formula are typically put on u-boats. Other baby products typically end up in repacks. For repacks, you'll need to either look up the repack yourself or have a TL do it for you." %>
  <%} %>
  <% } %>
  <% if(sold < 2){%>
  <% recentSold = "This has a recent sold date, which can indicate that it was returned recently, so you need to check the returns desk and lower level reshop carts in case it was returned." %>
  <!-- =============================================================================== -->
  <!-- ======================================008====================================== -->
  <!-- =============================================================================== -->
  <%} else if(department == '008'){ %>
  <% wtlotf = "These should be in section M on the floor in electronics."; %>
  <% wtlitb = "This department has a few aisles in the backroom to check depending on your item. Most of them will be in 02E001, 002, or 003. If you're looking for TVs, they are on the TV steels 99B211-214. Batteries and DVDs typically end up in 02E002. If your item is more expensive, it will likely end up in 02E003. When in doubt, ask the TM in electronics for help."; %>
  <% if(delivery<6){%>
  <% recentDelivery = "This item was recently delivered, so you will need to look for u-boats or pallets of electronics casepacks and repacks. We don't usually have too many of these because they get pushed by an electronics TM. As soon as they come off the truck, they are almost always sent down to the electronics backroom area, so it will very rarely stay on the truck line. " %>
  <%} %>
  <% } %>
  <% if(sold < 2){%>
  <% recentSold = "This has a recent sold date, which can indicate that it was returned recently, so you need to check the returns desk in case it was returned. It is very that it will be on a reshop cart because electronics usually handles reshop quickly." %>
  <!-- =============================================================================== -->
  <!-- ======================================009====================================== -->
  <!-- =============================================================================== -->
  <%} else if(department == '009'){ %>
  <% wtlotf = "These should be in section D towards the middle of seasonal. These may have a display in other parts of the store during promotions."; %>
  <% wtlitb = "Items in this department will typically be backstocked in 01A004. These items are seasonal, so they will not be there year round. Some items may get mixed up with kitchen utensils in 02A056, though this is a very rare case. Larger items may end up on the upper level steels."; %>
  <% if(delivery<6){%>
  <% recentDelivery = "This item was recently delivered, so you will need to look for pallets of these near the end the truck line farthest from the bay doors on the left side (if facing the bay doors). Some of the smaller items may end up in repacks." %>
  <%} %>
  <% } %>
  <% if(sold < 2){%>
  <% recentSold = "This has a recent sold date, which can indicate that it was returned recently, so you need to check the returns desk and upper level reshop in case it was returned." %>
  <!-- =============================================================================== -->
  <!-- ======================================012====================================== -->
  <!-- =============================================================================== -->
  <%} else if(department == '012'){ %>
  <% wtlotf = "Items in this department will be in section M near the adult books close to M53 or so. There may be displays for promotions near check lanes."; %>
  <% wtlitb = "Items in this department will typically be backstocked in 02E001, the electronics wall. Look throughout that wall in the casepacks and wacos to make sure it isn't unlocated."; %>
  <% if(delivery<6){%>
  <% recentDelivery = "This item was recently delivered, so you will need to look for casepacks of the items near the electronics backroom. They will almost never be on the truck line." %>
  <%} %>
  <% } %>
  <% if(sold < 2){%>
  <% recentSold = "This has a recent sold date, which can indicate that it was returned recently, so you need to check the returns desk in case it was returned." %>
  <!-- =============================================================================== -->
  <!-- ==========================013 014 016 017 020 021 029========================== -->
  <!-- =============================================================================== -->
  <%} else if(department == '013' || department == '014' || department == '016' || department == '017' || department == '020' || department == '021' || department == '029'){ %>
  <% wtlotf = "Items in this department will be located on the upper level in the women's section. The exact section on the floor "; %>
  <% wtlitb = "In the back, you can find these in 02A59-62 in the women's backstock aisles. You should also check the fitting room in the women's section. On occasion, you may find these in style breakout even if they haven't been delivered recently."; %>
  <% if(delivery<6){%>
  <% recentDelivery = "This item was recently delivered, so you will need to scan through style breakout and any pallets that appear to be style repacks or casepacks." %>
  <%} %>
  <% } %>
  <% if(sold < 2){%>
  <% recentSold = "This has a recent sold date, which can indicate that it was returned recently, so you need to check the returns desk in case it was returned." %>
  <!-- =============================================================================== -->
  <!-- ==============================022 023 025 026-01=============================== -->
  <!-- =============================================================================== -->
  <%} else if(department == '022' || department == '023' || department == '025' || classID == '026-01'){ %>
  <% wtlotf = "These items will be on the upper level in women's. For bras, panties, and other intimate clothing, you'll find these in the women's section near the escalator. For women's watches and legwear, you'll find it near the women's shoe section over the wall of bras near the escalator."; %>
  <% wtlitb = "These will be backstocked in 02A63-64. You should also check the reshop by the fitting room."; %>
  <% if(delivery<6){%>
  <% recentDelivery = "This item was recently delivered, so you will need to scan through style breakout for it. " %>
  <%} %>
  <% } %>
  <% if(sold < 2){%>
  <% recentSold = "This has a recent sold date, which can indicate that it was returned recently, so you need to check the returns desk in case it was returned." %>
  <!-- =============================================================================== -->
  <!-- ==================================061 027 215================================== -->
  <!-- =============================================================================== -->
  <%} else if(department == '027' || department == '215' || department == '061'){ %>
  <% wtlotf = "These items will be in the accessories section of their respective departments. For women's jewelry and accessories, these should be in the women's accessories section, but some may be the department for their brand, so Wild Fable jewelry can be on an display in Wild Fable, for example. Beyond that, you can also find extra jewelry and accessories inside the displays on the floor themselves. Some of the displays have shelves for storage and some have a lid that you can take off to find extra merchandise."; %>
  <% wtlitb = "These will be backstocked in 02A64 with women's accessories. Sometimes you will find these in style breakout even without a recent date. You should also check the reshop by the fitting room."; %>
  <% if(delivery<6){%>
  <% recentDelivery = "This item was recently delivered, so you will need to scan through style breakout for it. Jewelry is usually delivered in a casepack." %>
  <%} %>
  <% } %>
  <% if(sold < 2){%>
  <% recentSold = "This has a recent sold date, which can indicate that it was returned recently, so you need to check the returns desk in case it was returned." %>
  <%}%>

  <!-- =============================================================================== -->
  <!-- =================================Page Content================================== -->
  <!-- =============================================================================== -->

  <h2>Where to Look on the Floor:</h2>
  <p><%=wtlotf%></p>
  <h2>Where to Look in the Back:</h2>
  <p><%=wtlitb%></p>
  <small class="text-secondary"><i>Keep in mind that just because you don't have a backroom location for an item doesn't mean that the item you're looking for isn't in the aisles that it would be backstocked in. The system may not know that the item you're looking for is in the back even though it is. This is usually due to team members unlocating items or not backstocking them properly in the first place. For those reasons, always double check the aisles that an item would be backstocked in to be sure that you're looking everywhere.</i></small>
  <%if(recentDelivery){%>
  <h2>Recently Delivered:</h2>
  <p><%=recentDelivery%></p>
  <%}%>
  <%if(recentSold){%>
  <h2>Recently Sold:</h2>
  <p><%=recentSold%></p>
  <%}%>
  <h2>Not in any of those Locations?</h2>
  <p>If you've check all of those locations, click the item's DPCI (the number in blue). From there, click the yellow button that say's "Item Details". Look at the dates listed. If there is a recent (0-2 days) "filled" date, that means that the item you're looking for was recently pulled from the backroom and is likely in a cart of pulled items. Look near the backstock aisles for these carts.<br> It is also possible that a recent pull cart or reshop cart is out on the floor being pushed or about to be pushed, so look out for those carts in the section on the salesfloor because your item may be there as well.</p>

</div>
<%- include('partials/footer') %>